.fishList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .fish {
    flex-basis: 30%;
    margin-bottom: 1em;
    text-align: center;
    transition: ease-in-out;
    transition-duration: .5s;
    transition-delay: 5ms;
  }

.fish__name {
  font-weight: 700;
  padding: 1.6em;
}
  
  .highlightFish{
    font-weight: 800;
    border: 1px solid black;
    padding: 10px;
    background-color: #9400d3;
    transition-duration: .25s;
    transition-delay: 5ms;
    color: white;
  }

button {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  color: #9400d3;
}
  button:hover {
    background-color: rgb(255, 255, 255);
    }

    aside {
      margin-right: 1em;
    }
  
