@import 'nav.css';
@import 'tip.css';
@import 'fish.css';
@import 'location.css';

body {
  color: #9400d3;
  background-color: #Fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
}

h1 {
  color: #9400d3;
  font-size: 30pt;
  padding-left: 1em;
}

img {
  max-width: 100%;
}

dialog {
  color: #5c4e61;
  border-color: #9400d3;
  border-radius: 10%;
}

dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #9400d3;
    opacity: 50%
}