nav {
    font-family: Montreal-Serial-Bold;
    color: #FFE66D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 1em;
    text-shadow: 2px 3px #1A535C;
    
  }

  .nav__headline {
    font-size: 20pt;

  }
  
  a {
    color: #FFE66D;
    text-align: center;
    text-decoration: none;
    font-size: 20pt;
    height: fit-content;
    padding: 1em;
  }
  
  .nav__links {
    float: right;
    color: #FFE66D;
  
  }

  a:hover {
    background-color: #4ECDC4;
  }

