aside {
    width: 30%;
    color: #9400d3;
    opacity: 90%;
    padding: 10px;
    padding-left: 20px;
    border-left: 3px solid #9400d3
}

h3 {
    text-align: center;
}

.tip {
    transition: ease-in-out;
    transition-duration: .5s;
    transition-delay: 5ms;
    padding-bottom: 2em;
}

.highlight__tip {
    color: white;
    font-weight: 800;
    padding: 10px;
    background-color: #9400d3;
    transition: ease-in-out;
    transition-duration: .25s;
    transition-delay: 5ms;
}